<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Registration</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
  <div class="container mt-5" style="max-width: 500px;">
    <div class="card shadow">
      <div class="card-header bg-primary text-white text-center">
        <h4><%- pageName==="add" ? "Add" :"Edit"%> Registration</h4>
      </div>
      <div class="card-body">
    <form action="/api/admin/<%= pageName === 'edit' ? `edit/${data.admin_id}` : 'register' %>?_method=<%= pageName === 'edit' ? 'PUT' : 'POST' %>" 
      method="POST">


          <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" name="username" class="form-control"
             value="<%- pageName === 'edit' ? data.username:'' %>"
              placeholder="Enter username" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="email" class="form-control" 
            value="<%-pageName==='edit'? data.email : '' %>"
            placeholder="Enter email" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="password" class="form-control"
             value="<%-pageName=='edit'? data.password:''%>"
             placeholder="Enter password" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Role</label>
            <select name="role" class="form-select">
              <option value="">Choose...</option>
              <option value="superadmin" <%=data.role === 'superadmin' ? 'selected' : '' %>>Super Admin</option>
              <option value="admin" <%=data.role === 'admin' ? 'selected' : '' %>>Admin</option>
              <option value="staff" <%=data.role === 'staff' ? 'selected' : '' %>required>Staff</option>
            </select>
          </div>

          <button type="submit" class="btn btn-success w-100">Register</button>
        </form>
      </div>
    </div>
  </div>

</body>

</html>