<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <style>
            .student-table {
                margin: 0px 80px 0px 80px;
                max-height: 400px;
                overflow-y: auto;
                overflow-x: auto;
                border: 1px solid #ccc;
            }

            .add {
                display: flex;
                justify-content: end;
                padding: 0px 80px 0px 80px;

            }
        </style>
</head>

<body>
    <%- include('../partials/header') %>
        <div class="add">
            <a class="btn btn-primary " href="/admin/add" role="button">Add</a>
        </div>
        <div class="student-table">

            <table class="table table-striped ">
                <thead>
                    <tr scope="row">
                        <th scope="col">Admin Id</th>
                        <th scope="col">Username</th>
                        <th scope="col">role </th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <%if(data.length===0){ %>
                        <tr>
                            <td colspan="13" class="text-center">No records</td>
                        </tr>
                        <%}else {%>
                            <% data.forEach( admin=>{%>
                                <tr>
                                    <td>
                                        <%=admin.admin_id%>
                                    </td>
                                    <td>
                                        <%=admin.username%>
                                    </td>
                                    <td>
                                        <%=admin.email%>
                                    </td>
                                    <td>
                                        <%=admin.role%>
                                    </td>
                                    <td class="action">
                                        <a href="detail/<%= admin.admin_id %>"
                                            class="text-reset text-decoration-none"
                                            style="text-decoration: none !important;">
                                            ✏️
                                        </a>
                                        <button onclick="deleteAdmin(<%=admin.admin_id%>)">🗑️</button>
                                    </td>

                                </tr>
                                <%})%>
                                    <%}%>
                </tbody>
            </table>

        </div>
        <script>
            function deleteAdmin(admin_id) {
                const requestOptions = {
                    method: "DELETE",
                    redirect: "follow"
                };
                try {
                    fetch(`http://localhost:3000/api/admin/${admin_id}`, requestOptions)
                        .then(async (response) => {
                            if (response.ok) {
                                window.location.reload()
                            }
                            else {
                                const error = await response.json()
                                alter(error.message)
                            }
                        })

                }
                catch(err){
                     console.log(err)
                }
            }

        </script>
</body>

</html>