<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>

    <style>
      .staff-table {
        margin: 0px 80px;
        max-height: 400px;
        overflow-y: auto;
        overflow-x: auto;
        border: 1px solid #ccc;
      }

      .dropdown {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        gap: 10px;
      }

      .add {
        display: flex;
        justify-content: flex-end;
        padding: 0px 36px;
      }

      .action {
        display: flex;
        gap: 2px;
      }

      .action>button {
        border: none;
        background-color: transparent;
        cursor: pointer;
      }

      .limit {
        height: 40px;
      }

      .list {
        height: 32px;
        padding-top: 2px;
      }
    </style>
</head>

<body class="main">

  <%- include('../partials/header') %>
    <div class="add">
      <a class="btn btn-primary " href="/staff/add" role="button">Add</a>
    </div>



    <div class="staff-table">
      <div class="d-flex">

        <!-- Search By Dropdown -->
        <div class="form-group">
          <select name="searchby" id="searchby" class="form-control">
            <option value="">-- Select Option --</option>
            <option value="staff_name">Staff Name</option>
            <option value="email">Email</option>
            <option value="phone_number">Phone Number</option>
            <option value="hire_date">Hire Date</option>
            <option value="position">Position</option>
            <option value="gender">Gender</option>
            <option value="salary">Salary</option>
            <option value="department">Department</option>
          </select>
        </div>

        <!-- Search Box -->
        <div class="ml-2">
          <form id="searchForm" method="GET" action="/staff">
            <input type="text" id="searchInput" placeholder="Search staff...">
            <button type="submit" onclick="changeURL(event)">Search</button>
          </form>
        </div>
      </div>

      <!-- TABLE -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Staff ID</th>
            <th>Staff Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Hire Date</th>
            <th>Position</th>
            <th>Gender</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% if (data.length===0) { %>
            <tr>
              <td colspan="11" class="text-center">No records</td>
            </tr>
            <% } else { %>

              <% data.forEach(staff=> { %>
                <tr>
                  <td>
                    <%= staff.staff_id %>
                  </td>
                  <td>
                    <%= staff.staff_name %>
                  </td>
                  <td>
                    <%= staff.email %>
                  </td>
                  <td>
                    <%= staff.phone_number %>
                  </td>
                  <td>
                    <%= new Date(staff.hire_date).toLocaleDateString('en-IN') %>
                  </td>
                  <td>
                    <%= staff.position %>
                  </td>
                  <td>
                    <%= staff.gender %>
                  </td>
                  <td>
                    <%= staff.salary %>
                  </td>
                  <td>
                    <%= staff.department_name %>
                  </td>

                  <td class="action">
                    <a href="/staff/edit/<%= staff.staff_id %>" class="text-reset text-decoration-none">
                      ✏️
                    </a>
                    <button onclick="deletestaff(<%= staff.staff_id %>)">🗑️</button>
                  </td>
                </tr>
                <% }) %>
                  <% } %>
        </tbody>
      </table>
    </div>

    <!-- Pagination + Limit -->
    <nav aria-label="Page navigation example" class="dropdown">

      <!-- Pagination -->
      <div>
        <ul class="pagination d-flex justify-content-center">

          <li class="<%= currentPage === 1 ? 'page-item disabled' : 'page-item' %>">
            <a class="page-link"
              href="?limit=<%=limitno%>&page=<%= currentPage - 1 %>&search=<%=search%>&searchby=<%=searchBy%>">Previous</a>
          </li>

          <% for (let i=1; i <=pageCount; i++) { %>
            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
              <a class="page-link" href="?limit=<%=limitno%>&page=<%= i %>&search=<%=search%>&searchby=<%=searchBy%>">
                <%= i %>
              </a>
            </li>
            <% } %>

              <li class="<%= currentPage === pageCount ? 'page-item disabled' : 'page-item' %>">
                <a class="page-link"
                  href="?limit=<%=limitno%>&page=<%= currentPage + 1 %>&search=<%=search%>&searchby=<%=searchBy%>">Next</a>
              </li>

        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle limit" data-toggle="dropdown">
          <%= limitno %>
        </button>

        <div class="dropdown-menu">
          <form method="GET">
            <button class="dropdown-item" name="limit" value="5">5</button>
            <button class="dropdown-item" name="limit" value="10">10</button>
            <button class="dropdown-item" name="limit" value="15">15</button>
            <button class="dropdown-item" name="limit" value="20">20</button>
            <button class="dropdown-item" name="limit" value="25">25</button>
            <input type="hidden" name="page" value="<%= currentPage %>">
          </form>
        </div>
      </div>
    </nav>

    <!-- DELETE FUNCTIO -->
    <script>
      const pageNumber = '<%=currentPage %>'
      const limitNumber = '<%=limitno%>'
      function deletestaff(id) {
        fetch(`http://localhost:3000/api/staff/${id}`, {
          method: "DELETE",
          headers: { "Content-Type": "application/json" }
        })
          .then(async (response) => {
            if (response.ok) {
              window.location.reload();
            } else {
              const error = await response.json();
              alert(error.message);
            }
          })
          .catch(err => console.error(err));
      }
      function changeURL(event) {
        event.preventDefault();

        let keyword = document.getElementById("searchInput").value
        let searchby = document.getElementById("searchby").value
        if (keyword === "" || searchby === "") {
          window.location.href = "http://localhost:3000/staff";
        }
        else {
          window.location.href = `/staff?search=${keyword}&searchby=${searchby}&page=${pageNumber}&limit=${limitNumber}`

        }
      }
    </script>

</body>

</html>