<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <style>
      .staff-table {
        margin: 0px 80px 0px 80px;
        max-height: 400px;
        overflow-y: auto;
        overflow-x: auto;
        border: 1px solid #ccc;
      }

      .add {
        display: flex;
        justify-content: end;
        padding: 0px 36px 0px 36px;
      }

      .action {
        display: flex;
        gap: 2px;
      }

      .action>button {
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    </style>
</head>

<body class="main">
  <%- include('../partials/header') %>
    <div class="add">
      <a class="btn btn-primary " href="/staff/add" role="button">Add</a>
    </div>
    <div class="staff-table">
      <table class="table table-striped ">
        <thead>
          <tr scope="row">
            <th scope="col">Staff ID</th>
            <th scope="col">Staff Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Hire Date</th>
            <th scope="col">Position</th>
            <th scope="col">Gender</th>
            <th scope="col">Salary</th>
            <th scope="col">Department</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if (data.length===0) { %>
            <tr>
              <td colspan="11" class="text-center">No records</td>
            </tr>
            <% } else { %>
              <% data.forEach(staff=> { %>
                <tr>
                  <td>
                    <%= staff.staff_id %>
                  </td>
                  <td>
                    <%= staff.staff_name %>
                  </td>
                  <td>
                    <%= staff.email %>
                  </td>
                  <td>
                    <%= staff.phone_number %>
                  </td>
                  <td>
                    <%= new Date(staff.hire_date).toLocaleDateString('en-IN') %>
                  </td>
                  <td>
                    <%= staff.position %>
                  </td>
                  <td>
                    <%= staff.gender%>
                  </td>
                  <td>
                    <%= staff.salary %>
                  </td>
                  <td>
                    <%= staff.department_name%>
                  </td>
                  <td class="action">
                    <a href="staff/edit/<%= staff.staff_id %>" class="text-reset text-decoration-none"
                      style="text-decoration: none !important;">
                      ✏️
                    </a>
                    <button onclick="deletestaff(<%= staff.staff_id %>)">🗑️</button>
                  </td>
                </tr>
                <% }) %>
                  <% } %>
        </tbody>
      </table>
    </div>
    <nav aria-label="Page navigation example  ">
      <ul class="pagination d-flex justify-content-center">
        <li class="<%= currentPage === 1 ? 'page-item disabled' : 'page-item' %>"><a class="page-link" href="?page=<%= currentPage - 1%>">Previous</a></li>
        <% for (let i=0; i < pageCount; i++) { %>
          <li class="page-item">
            <a class="page-link" href="?page=<%= i + 1 %>">
              <%= i + 1 %>
            </a>
          </li>
          <% } %>
          <li class="<%= currentPage === pageCount ? 'page-item disabled' : 'page-item' %>"><a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a></li>
      </ul>
    </nav>
    <script>
        function deletestaff(id) {
        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        const requestOptions = {
          method: "DELETE",
          headers: myHeaders,
          redirect: "follow"
        };
        try {
          fetch(`http://localhost:3000/api/staff/${id}`, requestOptions)
            .then(async (response) => {
              if (response.ok) {
                window.location.reload()

              }
              else {
                const error = await response.json()
                alter(alert)
              }
            })
        }
        catch (error) {
          console.error(error);
        }
      }
    </script>
</body>

</html>