<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
 
</head>

<body class="main">
  <%- include('../partials/header') %>
    <div class="add">
      <a class="btn btn-primary " href="/student/add" role="button">Add</a>
    </div>
    <div class="student-table">
      <div class="d-flex">

        <!-- Search By Dropdown -->
        <div class="form-group">
          <select name="searchby" id="searchby" class="form-control">
            <option value="">-- Select Option --</option>
            <option value="first_name">First Name</option>
            <option value="last_name">Last Name</option>
            <option value="name">Name</option>
            <option value="email">Email</option>
            <option value="phone_number">Phone Number</option>
            <option value="date_of_birth">Data of Birth</option>
            <option value="gender">Gender</option>
            <option value="department">Department</option>
            <option value="admission_date">Addmission Date</option>
            <option value="city">City</option>
            <option value="staff">Staff</option>
          </select>
        </div>

        <!-- Search Box -->
        <div class="ml-2">
          <form id="searchForm" method="GET" action="/student ">
            <input type="text" id="searchInput" placeholder="Search student...">
            <button type="submit" onclick="changeURL(event)">Search</button>
          </form>
        </div>
      </div>
      <table class="table table-striped ">
        <thead>
          <tr scope="row">
            <th scope="col">Student Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Name </th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Data of Birth</th>
            <th scope="col">Gender</th>
            <th scope="col">Department</th>
            <th scope="col">Addmission Date</th>
            <th scope="col">City</th>
            <th scope="col">Staff</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <%if(data.length===0){ %>
            <tr>
              <td colspan="13" class="text-center">No records</td>
            </tr>
            <%}else {%>
              <% data.forEach( Student=>{%>
                <tr>
                  <td>
                    <%=Student.student_id%>
                  </td>
                  <td>
                    <%=Student.first_name%>
                  </td>
                  <td>
                    <%=Student.last_name%>
                  </td>
                  <td>
                    <%=Student.first_name+ " " + Student.last_name%>
                  </td>
                  <td>
                    <%=Student.email%>
                  </td>
                  <td>
                    <%=Student.phone_number%>
                  </td>
                  <td>
                    <%= new Date(Student.date_of_birth).toLocaleDateString('en-IN')%>
                  </td>
                  <td>
                    <%=Student.gender%>
                  </td>
                  <td>
                    <%=Student.department_name%>
                  </td>
                  <td>
                    <%= new Date(Student.admission_date).toLocaleDateString('en-IN') %>
                  </td>
                  <td>
                    <%=Student.city%>
                  </td>
                  <td>
                    <a href="staff/detail/<%=Student.department_id%>" class="text-reset text-decoration-none detail">
                      <%=Student.staff_name%>
                    </a>
                  </td>
                  <td class="action">
                    <a href="student/edit/<%= Student.student_id %>" class="text-reset text-decoration-none"
                      style="text-decoration: none !important;">
                      ✏️
                    </a>
                    <button onclick="deleteStudent(<%=Student.student_id%>)">🗑️</button>
                  </td>

                </tr>
                <%})%>
                  <%}%>
        </tbody>
      </table>

    </div>
    <nav aria-label="Page navigation example" class="dropdown">
      <div>
        <ul class="pagination d-flex justify-content-center">
          <li class="<%= currentPage === 1 ? 'page-item disabled': 'page-item'%>"><a class="page-link"
              href="?page=<%= currentPage%>">Previous</a></li>
          <% for (let i=1; i <=pageCount; i++) { %>
            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
              <a class="page-link" href="?limit=<%=limitno%>&page=<%= i %>">
                <%= i %>
              </a>
            </li>
            <% } %>
              <li class="<%= currentPage === 1 ? 'page-item disabled': 'page-item'%>"><a class="page-link"
                  href="?page=<%currentPage + 1%>">Next</a></li>
        </ul>
      </div>
      <div class="btn-group ">
        <button type="button" class="btn btn-danger dropdown-toggle limit" data-toggle="dropdown">
          <%= limitno%>
        </button>

        <div class="dropdown-menu">

          <form method="GET">
            <button class="dropdown-item" name="limit" value="5">5</button>
            <button class="dropdown-item" name="limit" value="10">10</button>
            <button class="dropdown-item" name="limit" value="15">15</button>
            <button class="dropdown-item" name="limit" value="20">20</button>
            <button class="dropdown-item" name="limit" value="25">25</button>
            <input type="hidden" name="page" value="<%= currentPage %>">
          </form>

        </div>
      </div>
    </nav>
    <script>
      function deleteStudent(studentId) {
        const id = studentId
        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");
        const requestOptions = {
          method: "DELETE",
          headers: myHeaders,
          redirect: "follow"
        };
        try {
          fetch(`http://localhost:3000/api/student/${id}`, requestOptions)
            .then(async (response) => {
              if (response.ok) {
                window.location.reload()
              }
              else {
                const error = await response.json()
                alert(error.message)
              }
            })
        }

        catch (error) {
          console.error(error)

        }
      }
      function changeURL(event){
        event.preventDefault();
          let search = document.getElementById("searchInput").value
          let searchby = document.getElementById("searchby").value
          if(search != "" || searchby != ''){
           window.location.href=`/student?search=${search}&searchby=${searchby}`
          }
          else{
            window.location.href= 'http://localhost:3000/student'
          }
      }
    </script>
</body>

</html>